<div class="works_area">
    <div class="container">
        <div class="row align-center" id="row-596499812">
            <div class="col medium-3 small-12 large-3">
                <div class="col-inner">
                    <h1 class="uppercase"><span style="font-size: 150%;">Chính sách bảo hành &amp; đổi trả sản phẩm</span></h1>
                    <a rel="noopener noreferrer" href="https://www.jenhouse.vn/lien-he/" target="_blank" class="button primary is-link">
                        <span>Liên hệ với chúng tôi</span>
                        <i class="icon-angle-right"></i></a>
                </div>
            </div>
            <div class="col medium-9 small-12 large-9">
                <div class="col-inner text-shadow-5">
                    <p style="text-align: justify;"><span style="color: #000000;">Để đảm bảo quyền lợi và phục vụ khách hàng một cách tốt nhất. Chúng tôi xin gửi tới quý khách hàng hàng chính sách bảo hành và đổi trả hàng</span></p>
                    <p><span style="color: #000000;"><strong>I. CHÍNH SÁCH ĐỔI TRẢ HÀNG:</strong></span></p>
                    <ul>
                        <li style="text-align: justify;"><span style="color: #000000;">Mọi sản phẩm của Jenhouse được đổi trả trong vòng 7 ngày. Sản phẩm đổi mới phải có giá bằng hoặc cao hơn sản phẩm cũ và đáp ứng những yêu cầu:</span></li>
                        <li style="text-align: justify;"><span style="color: #000000;">Sản phẩm trong tình trạng nguyên vẹn, không bị bẩn, trầy xước bề mặt và khung, bể vỡ, hoặc hỏng.</span></li>
                        <li style="text-align: justify;"><span style="color: #000000;">Có hoá đơn mua hàng, hoặc hoá đơn nhận hàng từ đơn vị chuyển phát.</span></li>
                    </ul>
                    <p><span style="color: #000000;"><strong>&nbsp;1. Điều kiện đổi/ trả</strong></span></p>
                    <ul>
                        <li style="text-align: justify;"><span style="color: #000000;">Lý do từ phía khách hàng (Thu phí trả hàng 30%)</span></li>
                        <li style="text-align: justify;"><span style="color: #000000;">Trong trường hợp khách hàng mong muốn đổi/ trả hàng không phải do lỗi nhà sản xuất, hàng hoá đổi trả đáp ứng đủ yêu cầu của hàng hoá đổi trả và không phải là hàng hoá nằm trong chương trình khuyến lại hoặc giảm giá.</span></li>
                        <li style="text-align: justify;"><span style="color: #000000;">Lý do từ phía nhà sản xuất ( Miễn phí trả đổi hàng )</span></li>
                        <li style="text-align: justify;"><span style="color: #000000;">Jenhouse nhận đổi đối với các sản phẩm sai khác trong đơn đặt hàng, sản phẩm vỡ hỏng trong quá trình vận chuyển.</span></li>
                        <li style="text-align: justify;"><span style="color: #000000;">Sản phẩm gặp lỗi do nhà sản xuất quý khách cần báo với chúng tôi trong vòng 24h kể từ khi nhận hàng và gửi kèm hình ảnh để được đảm bảo quyền lợi một cách tốt nhất</span></li>
                        <li style="text-align: justify;"><span style="color: #000000;">Đối với khách hàng tại Hà Nội: Quý Khách Hàng kiểm tra kỹ sản phẩm trước khi nhận hàng. Sản phẩm phát sinh lỗi, hoặc sai khác cần được phản ánh trong vòng 24h.</span></li>
                        <li style="text-align: justify;"><span style="color: #000000;">Đối với khách hàng ở tỉnh, quý khách kiểm tra hàng trước khi thanh toán, nếu có vấn đề khách hàng cần liên hệ ngay với Jenhouse qua hotline: 0976 107 037 đồng thời chụp ảnh sản phẩm và gửi qua fanpage hoặc email <a style="color: #000000;" href="mailto:jenhouse.contact@gmail.com">contact@gmail.com</a> để được hỗ trợ</span></li>
                    </ul>
                    <p><span style="color: #000000;"><strong>2. Phí đổi/ trả hàng hóa</strong></span></p>
                    <ul>
                        <li style="text-align: justify;"><span style="color: #000000;">Với lý do từ phía khách hàng Jenhouse thu thêm phí vận chuyển bằng 10% tổng đơn hàng, với khách hàng Hà Nội phí vận chuyển đổi trả sản phẩm từ 30k-50k</span></li>
                        <li style="text-align: justify;"><span style="color: #000000;">Với lý do từ phía Jenhouse – Khách hàng không phải trả them bất kỳ khoản phí nào</span></li>
                    </ul>
                    <p><span style="color: #000000;"><strong>3. Huỷ bỏ đơn hàng</strong></span></p>
                    <ul>
                        <li style="text-align: justify;"><span style="color: #000000;">Trong trường hợp khách hàng không yêu cầu lùi lịch giao hàng, Jenhouse không giao hàng trong vòng 7 ngày (trừ thứ 7, chủ nhật) thì khách hàng có quyền huỷ bỏ đơn hàng.</span></li>
                    </ul>
                    <p><span style="color: #000000;"><strong>II. CHÍNH SÁCH BẢO HÀNH:</strong></span></p>
                    <p><span style="color: #000000;">Bảo hành 06 tháng độ bền màu của sản phẩm.</span></p>
                </div>
            </div>
            <style scope="scope"></style>
        </div>
    </div>
</div>