<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <div class="banner has-hover" id="banner-253395353">
                        <div class="banner-inner fill">
                            <div class="banner-bg fill">
                                <div class="bg fill bg-fill  bg-loaded"></div>
                            </div>
                            <!-- bg-layers -->
                            <div class="banner-layers container">
                                <div class="fill banner-link"></div>
                                <div id="text-box-2044153707" class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                                    <div class="text dark text-shadow-3">
                                        <div class="text-inner text-center">
                                            <p style="text-align: center;"><span style="font-size: 190%; color: #ffffff;">JENHOUSE – TRANH CANVAS</span></p>
                                            <p style="text-align: left;"><span style="color: #ffffff;"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i><span style="font-size: 130%;">&nbsp; &nbsp; &nbsp; Số 1, ngõ 49 Huỳnh Thúc Kháng, Đống Đa, Hà Nội. Hotline: <a href="tel:+0961 315 315">0961 315 315 (Click để gọi)</a></span></span>
                                            </p>
                                            <p style="text-align: left;"><span style="color: #ffffff;"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i><span style="font-size: 130%;">&nbsp; &nbsp; &nbsp; Tầng 3, số 209 Dương Tử Giang, Phường 4, Quận 11, Tp HCM.&nbsp;Hotline:<a href="tel:+0967 42 49 46"> 0967 42.49.46 (Click để gọi)</a></span></span>
                                            </p>
                                            <p style="text-align: left;"><span style="color: #ffffff;"><i class="fa fa-inbox fa-3x" aria-hidden="true"></i><span style="font-size: 130%;">&nbsp; &nbsp; jenhouse.contact@gmail.com</span></span>
                                            </p>
                                            <p style="text-align: left;"><span style="color: #ffffff;"><i class="fa fa-phone - fa-3x" aria-hidden="true"></i><span style="font-size: 130%;">&nbsp; &nbsp; <a href="tel:+0961 315 315">0961 315 315&nbsp;(click để gọi)</a></span></span>
                                            </p>
                                            <p style="text-align: left;"><span style="color: #ffffff;"><i class="fa fa-globe - fa-3x" aria-hidden="true"></i><span style="font-size: 130%;">&nbsp; &nbsp; jenhouse.vn</span></span>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- text-box-inner -->
                                    <style scope="scope">
                                        #text-box-2044153707 {
                                            width: 91%
                                        }
                                        
                                        #text-box-2044153707 .text {
                                            font-size: 100%
                                        }
                                    </style>
                                </div>
                                <!-- text-box -->
                            </div>
                            <!-- .banner-layers -->
                        </div>
                        <!-- .banner-inner -->
                        <style scope="scope">
                            #banner-253395353 {
                                padding-top: 400px;
                                background-color: #6c6082;
                            }
                            
                            @media (min-width:550px) {
                                #banner-253395353 {
                                    padding-top: 510px
                                }
                            }
                        </style>
                    </div>
                    <!-- .banner -->
                    <div class="row" id="row-1656237637">
                        <div class="col medium-6 small-12 large-6">
                            <div class="col-inner text-center text-shadow-3">
                                <div class="container section-title-container">
                                    <h3 class="section-title section-title-bold-center"><b></b><span class="section-title-main">Liên hệ</span><b></b></h3>
                                </div>
                                <!-- .section-title -->
                                <div role="form" class="wpcf7" id="wpcf7-f34-p30-o1" lang="vi" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Họ và Tên</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Họ và Tên">
                                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email:</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Số Điện Thoại</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Số Điện thoại">
                                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Nội Dung</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Gửi</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col medium-6 small-12 large-6">
                            <div class="col-inner text-shadow-3">
                                <div class="container section-title-container">
                                    <h3 class="section-title section-title-bold-center"><b></b><span class="section-title-main">Bản đồ</span><b></b></h3>
                                </div>
                                <!-- .section-title -->
                                <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14897.42840089174!2d105.8105704!3d21.0183929!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe2fbb3c3539895bb!2sC%C3%B4ng%20ty%20TNHH%20Jenhouse%20-%20Tranh%20Treo%20T%C6%B0%E1%BB%9Dng%20v%C3%A0%20Decor!5e0!3m2!1svi!2s!4v1577245012910!5m2!1svi!2s"
                                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .col-inner -->
            </div>
            <!-- .large-12 -->
        </div>
        <!-- .row -->
    </div>

</main>