.menu {
    margin-bottom: 15px;
    border-bottom: 2px solid #212529;
    background-color: rgba(0, 0, 0, 0.1);
}

.menu::after {
    content: '';
    clear: both;
    display: block;
}

.menu>li {
    float: left;
}

.menu li {
    position: relative;
}

.menu li a {
    font-size: 16px;
    color: #333130;
    display: block;
    font-weight: 700;
    padding: 11px 25px 7px;
    text-transform: uppercase;
}

.menu li.active>a,
.menu li:hover>a {
    color: #fff;
    background-color: #497496;
}

.menu:hover li.active>a {
    color: #cb672e;
    background-color: transparent;
}

.menu li:hover.active>a {
    color: #fff;
    background-color: #1d5b98;
}

.menu ul {
    width: 200px;
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
}

.menu ul ul {
    top: 0;
    left: 100%;
}

.menu>li>ul {
    top: 100%;
    left: 0;
}

.menu li:hover>ul {
    opacity: 1;
    pointer-events: auto;
}

.menu>li:hover>ul {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
}

.menu ul li:hover>ul {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.menu>li>ul::before {
    content: '';
    height: 2px;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: transparent;
}