<div class="accordion_area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="faq_ask pl-68">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">TRIẾT LÝ KINH DOANH</h3>
                    <div id="accordion">
                        <div class="card wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".3s">
                            <div class="card-header" id="headingOnee">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOnee" aria-expanded="true" aria-controls="collapseOnee">
                                        SỨ MỆNH
                                        </button>
                                </h5>
                            </div>

                            <div id="collapseOnee" class="collapse show" aria-labelledby="headingOnee" data-parent="#accordion">
                                <div class="card-body">
                                    Khách hàng là trung tâm; <br> Dịch vụ chuyên nghiệp;<br> Giá trị cao, đem lại sự hài lòng cho Quý khách hàng. </div>
                            </div>
                        </div>
                        <div class="card wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        GIÁ TRỊ CỐT LÕI
                                                </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                <div class="card-body">
                                    Sáng tạo, đổi mới là nền tảng để phát triển;<br> Chuyên nghiệp, hiệu quả;<br> Tôn trọng bản thân, đồng nghiệp, công ty, khách hàng, tuân thủ luật pháp, các tiêu chuẩn, chính sách, nội quy. </div>
                            </div>
                        </div>
                        <div class="card wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".5s">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        TẦM NHÌN 2030
                                                </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                <div class="card-body">
                                    Trở thành thương hiệu Tranh trang trí, tranh treo tường số 1 tại Việt Nam đồng thời đưa sản phẩm ra 3 nước khu vực: Lào, Campuchia và Myanmar. </div>
                            </div>
                        </div>
                        <div class="card wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".6s">
                            <div class="card-header" id="headingThree4">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                                    Consectetur feugiat auctor?
                                                </button>
                                </h5>
                            </div>
                            <div id="collapseThree4" class="collapse" aria-labelledby="headingThree4" data-parent="#accordion" style="">
                                <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>